body {
  background: teal;
  height: 115px;
  /* border: 2px solid white;  */
}
.header-right div.d-flex {
  flex-flow: row-reverse;
}
.header-right div.d-flex button {
  margin: 15px;
}

.himg {
  width: 150px;
  height: 100px;
  margin: 5px;
  content: url("../../image/bdb.png");

  background-color: lightcyan;
}
.hla {
  text-align: left;
}

nav {
  background-color: lightseagreen;
}
a {
  /* pointer-events: none; */
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  background: teal;
  text-decoration: none;
  color: yellowgreen;
}
.logInName {
  font-weight: bold;
}
